<%- include("partials/header") -%>

	<body class="galleryPage">
		
		<%- include("partials/navbar") -%>



        <div class="container">
                
            <div class="jumbotron">
                <h1>Image Gallery</h1>
                
            </div>
            <div class="row">
              <% pics.forEach(function(pic){ %>
                <% if(files){ %>
                  <% files.forEach(function(file) { %>
                    
                    <% if(file.filename==pic.image) { %>
                      <% if(file.isImage) { %>
                        <div class="col-lg-4 col-md-6 sm-6">
                                  <img src="image/<%= file.filename %>" alt="<%= pic.title %>" class="img-thumbnail" id="pic" >
                        </div>
                      <% } else { %>
                        <%= file.filename %>
                          <% } %>
                      <% } %>
                  <% }) %>
                      <% } else { %>
                      <p>No files to show</p>
                      <% } %>
              <% }); %>
               
            </div>

            <div class="jumbotron">
                <h1>Video Gallery</h1>
            </div>
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-4">
                  
                  <% vids.forEach(function(vid){ %>
              
                    <!--Modal: Name-->
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                
                        <!--Content-->
                        <div class="modal-content">
                
                          <!--Body-->
                          <div class="modal-body mb-0 p-0">
                
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                              <iframe class="embed-responsive-item" src="<%= vid.video %>"
                                allowfullscreen></iframe>
                            </div>
                
                          </div>
                
                          <!--Footer-->
                          <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb text-primary"><i class="fab fa-facebook-f"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw text-info"><i class="fab fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus text-danger"><i class="fab fa-google-plus-g"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins text-gradient-primary"><i class="fab fa-linkedin-in"></i></a>
                
                            <button type="button" class="btn btn-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                
                          </div>
                
                        </div>
                        <!--/.Content-->
                
                      </div>
                    </div>
                    <!--Modal: Name-->
                    

                    <% if(files){ %>
                      <% files.forEach(function(file) { %>
                        
                        <% if(file.filename==vid.thumbnail) { %>
                          <% if(file.isImage) { %>
                
                              <a><img class="img-fluid z-depth-1 thumbnail rounded" src="/image/<%= file.filename %>" alt="<%= vid.title %>" >
                                  <div class="carousel-caption text-center" data-toggle="modal" data-target="#modal1">
                                      <i class="fas fa-play-circle" id="playButton"></i>
                                  </div>
                              </a>
                              <% } else { %>
                                  <%= file.filename %>
                                <% } %>
                          <% } %>
                        <% }) %>
                    <% } else { %>
                        <p>No files to show</p>
                    <% } %>
                  <% }); %>
              
                </div>
            </div>


        </div>

<%- include("partials/footer") -%>